<html>
    <body>
      <h2>Add a new Dog record!</h2>
      <form (ngSubmit)="onSubmit()" [formGroup]="dogForm">
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" formControlName="name" required>
        </div>
      
        <div>
          <label for="breed">Breed:</label>
          <input type="text" id="breed" name="breed" formControlName="breed">
        </div>
      
        <div>
          <label for="turnInDate">Turn In Date:</label>
          <input type="date" id="turnInDate" name="turnInDate" formControlName="turnInDate">
        </div>
      
        <div>
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" formControlName="gender">
            <option value="true">Male</option>
            <option value="false">Female</option>
          </select>
        </div>
      
        <button type="submit">Submit</button>
        <a href="/home">Cancel</a>
    </form>
    </body>
</html>

  